.logoTopo{
    width: 45px;
    
}
.btn-pink {
    background-color: #ff1493;
    color: #fff;
}
.Logo{
    margin-top: 20px;
}
body{
    background-color: #fccde7;
}
.btn-pink:hover {
    background-color: #ec9ac7;
    color: #fff;
}